* {
    margin: 0;
    padding: 0;
}
.headDark{
  background-color: darkblue;
  width: 100vw;
  height: 3vh;

}


.iconWords{
  display: fixed;
  justify-content: flex-end;
  text-align: right;
  color: #bebebe;
  text-decoration: none;
}

.headlight{
    background-color: blue;
    width: 100vw;
    height: 6vh;
}
.headlight a {
  color:black;
  text-decoration: none;
  display:fixed;
  align-items: center;
  justify-content: center;

  
}
.logo{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    width: 7vw;
    height: 5vh;
}
.foot {
    background-color: darkgray;
    width: 100vw;
    height: 20vh;
}

/*made by faheem*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #0000ff;
    color: white;

    text-align: center;
  
  }
  .logo {
    padding: 10px 10px;
    float: left;
  }
  .header-right {
    float: right;
    padding: 10px 10px;
  }
  .header-right a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
  }
  .container {
    width: 99%;
    margin: 20px auto;
  }
  h1{
    display: fixed;
    justify-content: flex-end;
    text-align: center;
  }
  p{
    display: fixed;
    justify-content: flex-end;
    text-align: center;
  }

  .product-row {
    overflow: hidden;
  }
  .product {
    width: 29.5%; 
    margin: 1%;
    border: 1px solid #ddd; 
    padding: 9px ;
    float:left;
   
  }

  .image-size {
    width: 100%;
    object-fit: cover;
    
  }
  .category {
    clear: both;
    overflow: auto;
  }
  .category h2 {
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
  }
  .category-image {
    float: left;
    width: 21%; /* Adjust the width as per requirement */
    margin: 1%;
    border: 1px solid #ddd; /* Light gray border */
    padding: 10px;
    box-sizing: border-box;
  }
  .category-image img {
    width: 100%;
    height: auto;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  /*---*/

/*Product Page design */
.productContainer{
  /*display: grid;
  grid-template-columns:50%,50% ;
  grid-template-rows: 40%, 60%;
  grid-template-areas:
  "mainImage mainImage"
  "priceDesc imagesReview" 
  ;*/
  width: 80%;
  margin: 20px auto;
  height: 80%;
}

.mainImage{
  grid-area: mainImage;
width: 80%;
height: 30%;
background-color: #bebebe;
}
.priceDesc{
  grid-area: priceDesc;
  justify-self: left;
  width: 50%;
}
.imagesReviews{
  justify-self: left;
  width: 50%;
  grid-area: imagesReview;
}
.productDesc{
  background-color: #bebebe;
}