<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../public/main.css">

</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <div class="dropdown">
            <div class="dropbtn-container">
              <input class="dropbtn" type="text" readonly placeholder="Login as?">
              <div class="arrow-down"></div>
            </div>
            <div class="dropdown-content">
              <a href="#">Admin</a>
              <a href="#">User</a>
              <a href="#">freelancer</a>
            </div>
          </div>
        
        
        <form action="#" method="post">
            <input type="text" name="username" placeholder="Username">
            <div class="password-toggle">
                <input type="password" name="password" id="password" placeholder="Password">
                <div class="eye-icon" id="togglePassword">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </div>
            </div>
            
            <input type="submit" value="Login">
        </form>
    </div>

    <script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordField = document.getElementById('password');

        togglePassword.addEventListener('click', function () {
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);

            if (type === 'password') {
                togglePassword.querySelector('i').classList.remove('fa-eye');
                togglePassword.querySelector('i').classList.add('fa-eye-slash');
            } else {
                togglePassword.querySelector('i').classList.remove('fa-eye-slash');
                togglePassword.querySelector('i').classList.add('fa-eye');
            }
        });
    </script>
</body>
</html>
